.interview-details {
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
  }
  
  button {
    margin-top: 20px;
    &:hover {
      background-color: #f01a1a;
    }
  }
  