<h2>Interview Details</h2>
<div class="interview-details">
  <p><strong>Date:</strong> {{ interview?.interviewDate }}</p>
  <p><strong>Heure:</strong> {{ interview?.interviewTime }}</p>
  <p><strong>Durée:</strong> {{ interview?.duration }}</p>
  <p><strong>Commentaire:</strong> {{ interview?.comment }}</p>
  <p><strong>Location:</strong> {{ interview?.interviewlocation }}</p>
  <p><strong>Place:</strong> {{ interview?.interviewPlace }}</p>
  <p><strong>Nom d'Interviewer:</strong> {{ interview?.interviewerName }}</p>
  <p><strong>Email d'Interviewer :</strong> {{ interview?.interviewerEmail }}</p>
  <p><strong>numéro de téléphone d'Interviewer :</strong> {{ interview?.interviewerPhoneNumber }}</p>
  <p><strong>Type d'Interview:</strong> {{ interview?.interviewType }}</p>
  <p><strong>Mode d'Interview:</strong> {{ interview?.interviewMode }}</p>
</div>
<button mat-button (click)="onCloseClick()">Fermer</button>
