

<h2 class="popup-title">Détails de l'Offre</h2>
<div class="popup-content">
  <p><strong>Reference:</strong> {{ data.payload.reference }}</p>
  <p><strong>Job Site:</strong> {{ data.payload.jobSite }}</p>
  <p><strong>Description:</strong> {{ data.payload.description }}</p>
  <p><strong>Required Skills:</strong> {{ data.payload.requiredSkills }}</p>
  <p><strong>Start Date:</strong> {{ data.payload.startDate }}</p>
  <p><strong>End Date:</strong> {{ data.payload.endDate }}</p>
  <!-- Add more attributes here as needed -->
</div>
<button mat-raised-button color="warn" (click)="closePopup()">Fermer</button>
  
