.example-section {
  clear: both;
}

.example-margin {
  margin-right: 12px;
}

.container {
  padding: 24px;
}

.text-small {
  font-size: 14px;
}

.mat-form-field {
  width: 100%;
}

.mat-slider {
  width: 100%;
}