
<div class="">
  <mat-card class="p-24">
    <!-- Employee details -->
    <div fxLayout="row wrap">
      <div fxFlex="60">

        <div  class="name-card" >
            <mat-card-title>{{employee.firstName}} {{employee.lastName}}</mat-card-title>
        </div>
        
        <div>
          <div class="infor-card" >
          <p class="text-small"><strong class="infor-card-text">L'email numéro 1:</strong>{{employee.emailOne}}</p>
        <p class="text-small"><strong class="infor-card-text">Numéro de téléphone 1:</strong>{{employee.phoneNumberOne}}</p>
        <p class="text-small"><strong class="infor-card-text">La note globale est:</strong>52</p>
      </div>
        </div>
          
        
      </div>
      <div fxFlex="40">
        <apx-chart
          [series]="welcomeProgressChart.series"
          [chart]="welcomeProgressChart.chartOptions.chart"
          [grid]="welcomeProgressChart.chartOptions.grid"
          [plotOptions]="welcomeProgressChart.chartOptions.plotOptions"
          [colors]="studyChart.chartOptions.colors"
          [labels]="welcomeProgressChart.chartOptions.labels"
          [dataLabels]="studyChart.chartOptions.dataLabels"
          [xaxis]="studyChart.chartOptions.xaxis"
          [yaxis]="studyChart.chartOptions.yaxis"
        ></apx-chart>
      </div>
    </div>

    <!-- Buttons to add interview and administrative data -->
    <div>
      <button mat-raised-button class="mb-8 mr-16" style="float: right;" color="primary" (click)="openPopUpEntretien({}, true)">Ajouter un entretien</button>
    </div>
  </mat-card>

  
  <!-- Accordion to display interviews and updated questions -->
  <div style="padding-left: 15px; padding-right: 15px;">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let interviews of interview">
        <mat-expansion-panel-header>
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <mat-icon>description</mat-icon>
              <span class="interview-details">{{InterviewTypeMap[interviews.interviewType]}}</span>
              <span class="interview-details">{{interviews.interviewDate}}</span>
              <span class="interview-details">{{interviews.interviewTime}}</span>
            </div>
            <div>
              <button mat-icon-button (click)="openInterviewDetailsPopup(interviews.id)">
                <mat-icon>info</mat-icon>
              </button>
              <button mat-icon-button (click)="openPopupQuestionnaire(interviews.id)"><mat-icon>add</mat-icon></button>
            </div>
          </div>
        </mat-expansion-panel-header>

        <!-- Display updated questions -->
        <mat-panel-content>
          <div class="question-list">
            <div *ngFor="let updatedQuestion of interviews.updatedQuestions; let i = index" class="question-item">
              <div class="question-text">{{ updatedQuestion.questionText }}</div>
              <div class="form-fields">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>Mark</mat-label>
                    <input matInput type="number" [(ngModel)]="updatedQuestion.mark" id="mark{{ i }}" min="0" max="5" class="input-field" [disabled]="isCheckDisabled">
                  </mat-form-field>
                </div>
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>Comment</mat-label>
                    <input matInput [(ngModel)]="updatedQuestion.comment" id="comment{{ i }}" class="input-field" [disabled]="isCheckDisabled">
                  </mat-form-field>
                </div>
                <div class="form-group">
                  <mat-slider [(ngModel)]="updatedQuestion.mark" min="0" max="5" [disabled]="isCheckDisabled"></mat-slider>
                </div>
                <div class="button-group">
                  <button mat-icon-button color="primary" [disabled]="isCheckDisabled" (click)="updateUpdatedQuestion(updatedQuestion.id, updatedQuestion)" class="small-button">
                    <mat-icon>check</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" [disabled]="!isCheckDisabled" (click)="enableEdit()" class="small-button">
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
                
                
                
  
                </div>
            </div>
          </div>
        </mat-panel-content>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
