 <div class="">
<mat-card class="p-24">
    <div fxLayout="row wrap">
      <div fxFlex="60">

        <div  class="name-card" >
            <mat-card-title>{{employee.firstName}} {{employee.lastName}}</mat-card-title>
        </div>
        
        <div>
          <div class="infor-card" >
          <p class="text-small"><strong class="infor-card-text">L'email numéro 1:</strong>{{employee.emailOne}}</p>
        <p class="text-small"><strong class="infor-card-text">Numéro de téléphone 1:</strong>{{employee.phoneNumberOne}}</p>
      </div>
        </div>
          
        
      </div>
      <div class="chart" fxFlex="40">
        <apx-chart
          [series]="welcomeProgressChart.series"
          [chart]="welcomeProgressChart.chartOptions.chart"
          [grid]="welcomeProgressChart.chartOptions.grid"
          [plotOptions]="welcomeProgressChart.chartOptions.plotOptions"
          [colors]="studyChart.chartOptions.colors"
          [labels]="welcomeProgressChart.chartOptions.labels"
          [dataLabels]="studyChart.chartOptions.dataLabels"
          [xaxis]="studyChart.chartOptions.xaxis"
          [yaxis]="studyChart.chartOptions.yaxis"
        ></apx-chart>
      </div>
    </div>
 
  </mat-card>
  
  <div class="header-button">
    <div >
    <button  mat-raised-button class="mb-8 mr-16" style="float: right;" color="primary" (click)="openPopUpEntretien({},true)" >Ajouter un entretien </button>
  </div>
  <div>              
    <button  mat-raised-button class="mb-8 mr-16" style="float: right;" color="primary" (click)="openPopupAdministrativeData(employee.id,{},true)" >Ajouter des donnees administratives </button>
</div>
  </div>
  

  <div style="padding-left: 15px;padding-right: 15px;">
     <mat-accordion >
  <!-------------entretien RH----------------->
    <mat-expansion-panel *ngFor="let interviews of interview" >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div>
            {{InterviewTypeMap[interviews.interviewType]}}<button mat-icon-button (click)="openInterviewDetailsPopup(interviews.id)">
            <mat-icon style="color: #b1abab;">info</mat-icon>
          </button>
        </div>
        </mat-panel-title>
        <mat-panel-description>
          
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="d-flex justify-content-between align-items-baseline">

        <button  mat-raised-button class="mb-8 mr-16" style="float: right;" color="primary" (click)="getUpdatedQuestions(interviews.id)" >get questions </button>
        <mat-list *ngFor="let updatedQuestions of updatedQuestion" >
          <mat-list></mat-list>
          <mat-list-item>{{updatedQuestions.questionText}}</mat-list-item>
        </mat-list>
        
              <div class="mr-2">
                <button  mat-raised-button class="mb-8 mr-16" style="float: right;" color="primary" (click)="openPopupQuestionnaire(interviews.id)" >Ajouter un questionnaire </button>
              </div>
            </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
</div>
<!--
<mat-expansion-panel class="accordion" *ngFor="let interviews of interview">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>description</mat-icon> &nbsp; &nbsp;{{ InterviewTypeMap[interviews.interviewType] }}
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="d-flex justify-content-between align-items-baseline">
    <div>
      <p></p>
    </div>
    <div class="mr-2">
      <button mat-raised-button class="mb-8 mr-16" style="float: right;" color="primary"
        (click)="openPopupQuestionnaire(interview.id)">Ajouter un questionnaire</button>
    </div>
  </div>

  <div *ngIf="interview.updatedQuestions && interview.updatedQuestions.length > 0">
    <h4>Updated Questions:</h4>
    <ul>
      <li *ngFor="let question of interview.updatedQuestions">
        {{ question.questionText }}
      </li>
    </ul>
  </div>
</mat-expansion-panel>-->