<mat-tab-group dynamicHeight mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Informations Générales"> 
    <mat-card class="p-0">
      <mat-card-title class="">
        <div class="card-title-text">
          <mat-list role="list">
        <mat-list-item role="listitem" style="padding-top: 40px; padding-bottom: 20px;"><span class="mat-display-2">{{ employee.firstName }} {{ employee.lastName }}</span></mat-list-item>
        <mat-list-item role="listitem"><span class="mat-display-1"> </span></mat-list-item>
       </mat-list>
        </div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content>
        <div div fxLayout="row" fxLayoutAlign="space-evenly center" >
          <div fxFlex="100" fxFlex.gt-sm="60">
          <mat-card class="p-0">
              <mat-card-title class="">
                <div class="card-title-text">Informations Personelles </div>
                <mat-divider></mat-divider>
              </mat-card-title>
              <mat-card-content>
                <mat-list>
                  <mat-list-item><mat-icon color="primary" class="mr-16">cake</mat-icon><strong style="padding-right: 10px;">Date de naissance : </strong> {{ employee.birthDate }}</mat-list-item>
                  <mat-list-item><mat-icon color="primary" class="mr-16">people_outline</mat-icon> <strong style="padding-right: 10px;">Situation Maritale : </strong>{{ employee.maritalSituation }}</mat-list-item>
                  <mat-list-item><mat-icon color="primary" class="mr-16">face</mat-icon> <strong style="padding-right: 10px;">Civilité : </strong>{{ employee.civility }} </mat-list-item>
                  <mat-list-item><mat-icon color="primary" class="mr-16">public</mat-icon> <strong style="padding-right: 10px;">Pays : </strong>{{ employee.country }}</mat-list-item>
                  <mat-list-item><mat-icon color="primary" class="mr-16">location_city</mat-icon> <strong style="padding-right: 10px;">Ville : </strong>{{ employee.city }}</mat-list-item>
                  <mat-list-item><mat-icon color="primary" class="mr-16">add_locationgit </mat-icon> <strong style="padding-right: 10px;" >Code Postal : </strong>{{ employee.postCode }}</mat-list-item>
                </mat-list>
                <mat-divider></mat-divider>
                <div  fxLayoutAlign="center center" style="padding-top: 25px;">
                  <button mat-raised-button color="primary">Envoyer un Email</button>
                </div>
              </mat-card-content>
            </mat-card>
        </div>

        <div style="padding-top: 50px;"></div>
         <!-- <div fxFlex="100" fxFlex.gt-sm="50">
            <mat-card class="p-0">
              <mat-card-title class="">
                <div class="card-title-text">Informations  Administratives
                  <a href="" class="toolbar-avatar sm mr-16"><img [src]="user.photo" alt=""></a>
                  <span fxFlex></span>
                      <button mat-icon-button [matMenuTriggerFor]="userMenu" class="">
                          <mat-icon class="text-muted text-18">more_vert</mat-icon>
                      </button>
                      <mat-menu #userMenu="matMenu">
                          <button mat-menu-item>Ajout</button>
                          <button mat-menu-item>Edit</button>
                      </mat-menu>
                <mat-divider></mat-divider>
                </div>
              </mat-card-title>
              <mat-card-content>
                <mat-list>
                  <mat-list-item><mat-icon color="primary" class="mr-16">content_paste</mat-icon> <strong>Type de contrat</strong></mat-list-item>
                  <mat-list-item><mat-icon color="primary" class="mr-16">monetization_on</mat-icon> <strong>Salaire souhaité :</strong></mat-list-item>
                  <mat-list-item><mat-icon color="primary" class="mr-16"></mat-icon> <strong>Salaire actuel:</strong></mat-list-item>
                  <mat-list-item><mat-icon color="primary" class="mr-16">schedule</mat-icon>  <strong>Disponibilité:</strong></mat-list-item>
                  <mat-list-item><mat-icon color="primary" class="mr-16"></mat-icon> <strong>Date de disponibilité:</strong></mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </div>-->

           <div fxFlex="100" fxFlex.gt-sm="50">
            <mat-card class="p-0">
              <mat-card-title class="">
                <div class="card-title-text">Info de Contact du Candiadat </div>
                <mat-divider></mat-divider>
              </mat-card-title>
              <mat-card-content>
                <mat-list>
                  <mat-list-item><mat-icon  color="primary"class="mr-16">email</mat-icon> <strong style="padding-right: 10px;">Email 1 : </strong> {{ employee.emailOne}}</mat-list-item>
                  <mat-list-item><mat-icon color="primary" class="mr-16">email</mat-icon> <strong style="padding-right: 10px;">Email 2 : </strong> {{ employee.emailTwo}}</mat-list-item>
                  <mat-list-item><mat-icon color="primary" class="mr-16">phone</mat-icon><strong style="padding-right: 10px;">Numéro de téléphone 1 : </strong>{{ employee.phoneNumberOne }}</mat-list-item>
                  <mat-list-item><mat-icon color="primary" class="mr-16">phone</mat-icon><strong style="padding-right: 10px;">Numéro de téléphone 2 : </strong> {{ employee.phoneNumberTwo }}</mat-list-item>
                  <mat-list-item><mat-icon color="primary" class="mr-16">location_on</mat-icon> <strong style="padding-right: 10px;">Adresse : </strong>{{ employee.address}}</mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        
         <!-----------------technicalFile------------->
        <mat-card-title class="">
          <div class="card-title-text">
            <mat-card-content>
              <mat-list>
                <mat-list-item><mat-icon  color="primary"class="mr-16">bookmark</mat-icon> <strong style="padding-right: 10px;">Référence  : </strong> {{ technicalFile.reference}}</mat-list-item>
                <mat-list-item><mat-icon color="primary" class="mr-16">border_color</mat-icon> <strong style="padding-right: 10px;">Titre du poste : </strong> {{ technicalFile.title}}</mat-list-item>
                <mat-list-item><mat-icon color="primary" class="mr-16">description</mat-icon><strong style="padding-right: 10px;">Déscription : </strong>{{ technicalFile.description }}</mat-list-item>
                <mat-list-item><mat-icon color="primary" class="mr-16">check</mat-icon><strong style="padding-right: 10px;">Objectif : </strong> {{ technicalFile.objective }}</mat-list-item>
                <mat-list-item><mat-icon color="primary" class="mr-16">directions_car</mat-icon> <strong style="padding-right: 10px;">Permit de conduire : </strong>{{ technicalFile.driverLicense}}</mat-list-item>

              </mat-list>
            </mat-card-content>
          </div>
          <mat-divider></mat-divider>
        </mat-card-title>
      </mat-card-content>
    </mat-card>
     </mat-tab>

  <mat-tab label="Dossier Technique"> 
    <mat-card class="p-0">
      <mat-card-title class="">
        <div fxLyout="row wrap" >
          <div class="card-title-text">
          <span class="mat-heading-label" style=" padding-right: 5px;">Dossier Technique de </span><span class="mat-heading-label" style="font-size: 22px;">{{ employee.firstName }} {{ employee.lastName }}</span>
          </div>
          <span fxFlex></span>
            <span style=" padding-top: 30px;"><mat-icon color="primary" class="mr-16" title="Voir l'évaluation">create</mat-icon></span>
            <div style="padding-top: 20px; padding-right: 20px;"><button  mat-raised-button  color="primary" (click)="openEvaluationCandidat()" >Voir l'évaluation</button></div>
        </div>
        <mat-divider></mat-divider>
      </mat-card-title>

      <mat-card-content>
        <div fxLayout="row">
          <div fxFlex="100" fxFlex.gt-sm="60" >
            <mat-card  class="p-0" >
              <mat-card-title class="">
                <div class="card-title-text">Education</div>
                <mat-divider></mat-divider>
              </mat-card-title>
              
              <mat-card-content>
                <mat-list *ngFor="let educations of education">
                  <mat-list-item><mat-icon color="primary" class="mr-16">school</mat-icon><strong style="padding-right: 10px;">Diplome : </strong>{{educations?.diploma}}</mat-list-item>
                  <mat-list-item><mat-icon color="primary" class="mr-16">business</mat-icon> <strong style="padding-right: 10px;">Institution : </strong>{{educations?.institution}}</mat-list-item>
                  <mat-list-item><mat-icon color="primary" class="mr-16">date_range</mat-icon> <strong style="padding-right: 10px;">Date d'inscription : </strong> {{educations?.startYear}}</mat-list-item>
                  <mat-list-item><mat-icon color="primary" class="mr-16">date_range</mat-icon> <strong style="padding-right: 10px;">Date d'obtention : </strong>{{educations?.obtainedDate}}</mat-list-item>
                  <mat-list-item><mat-icon color="primary" class="mr-16">border_color</mat-icon> <strong style="padding-right: 10px;">Score : </strong>{{educations?.score}}</mat-list-item>
                  <mat-list-item><mat-icon color="primary" class="mr-16">add_locationgit </mat-icon> <strong style="padding-right: 10px;" >Actuellement inscri : </strong>{{educations?.actual}}</mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </div>
          
          <div fxFlex="100" fxFlex.gt-sm="60"  >
            <mat-card class="p-0">
              <mat-card-title  class="">
                <div class="card-title-text">Expérience </div>
                <mat-divider></mat-divider>
              </mat-card-title>
              <mat-card-content>
                <mat-list *ngFor="let experiences of experience" >
              
                <mat-list>
                  <mat-list-item><mat-icon  color="primary"class="mr-16">business</mat-icon> <strong style="padding-right: 10px;">Société : </strong>{{experiences.experienceCompany}}</mat-list-item>
                  <mat-list-item><mat-icon color="primary" class="mr-16">person</mat-icon> <strong style="padding-right: 10px;">Intitulé du poste : </strong>{{experiences.experienceTitle}}</mat-list-item>
                  <mat-list-item><mat-icon color="primary" class="mr-16">keyboard</mat-icon><strong style="padding-right: 10px;">Technologies: </strong>{{experiences.technology}}</mat-list-item>
                  <mat-list-item><mat-icon color="primary" class="mr-16">date_range</mat-icon> <strong style="padding-right: 10px;">Date de début : </strong>{{experiences.experienceStartDate}}</mat-list-item>
                  <mat-list-item><mat-icon color="primary" class="mr-16">date_range</mat-icon> <strong style="padding-right: 10px;">Date de fin : </strong>{{experiences.experienceEndDate}}</mat-list-item>
                  <mat-list-item><mat-icon color="primary" class="mr-16">location_on</mat-icon> <strong style="padding-right: 10px;">Actuellement employé : </strong>{{experiences.actualEmployment}}</mat-list-item>

                </mat-list>
              </mat-list>
              </mat-card-content>
            </mat-card>
          </div>
        </div>


        
        <div fxLayout="column">
          <div fxLayout="row">
          <div fxFlex="100" fxFlex.gt-sm="50"  style="width: 14.5cm;">
            <mat-card class="p-0">
              <mat-card-title class=""> 
                <div class="card-title-text">Compétances</div>
                <mat-divider></mat-divider>
              </mat-card-title>
              <mat-card-content>
                <mat-list>
                  <mat-list  >
                  <span class="mat-heading-label"> Compétences linguistiques :</span>
                  <mat-list *ngFor="let languages of language">
                  <mat-list-item style="padding-bottom: 20px;"><mat-icon  color="primary"class="mr-16">language</mat-icon><strong style="padding-right: 10px;">Langue : </strong>{{languages.language}}</mat-list-item>
                </mat-list>
                </mat-list>
                  <mat-list *ngFor="let certifications of certification" >
                  <span class="mat-heading-label">Certifications :</span>
                  <mat-list-item  style="padding-bottom: 20px;"><mat-icon  color="primary"class="mr-16">assignment_turned_in</mat-icon><strong style="padding-right: 10px;">Certification :   </strong>{{certifications.certificationTitle}}</mat-list-item> 
                  <mat-list-item  style="padding-bottom: 20px;"><mat-icon  color="primary"class="mr-16">assignment_turned_in</mat-icon><strong style="padding-right: 10px;">Année d'obtention : </strong>{{certifications.certificationObtainedDate}}</mat-list-item> 

                </mat-list>
                <mat-list *ngFor="let skill of skills">
                  <span class="mat-heading-label">Compétences :</span>
                  <mat-list-item  style="padding-bottom: 20px;"><mat-icon  color="primary"class="mr-16">extension</mat-icon><strong style="padding-right: 10px;">Certification :   </strong>{{skill.skillTitle}}</mat-list-item> 
                </mat-list>
                </mat-list>
              </mat-card-content>
            </mat-card> 
          </div>

          <div fxFlex="100" fxFlex.gt-sm="50"  style="width: 14.5cm;">
            <mat-card class="p-0">
              <mat-card-title class=""> 
                <div class="card-title-text">Offres</div>
                <mat-divider></mat-divider>
              </mat-card-title>
              <mat-card-content>
                <mat-list>
                  <mat-list-item style="padding-bottom: 20px;"><strong style="padding-right: 10px;">Titre de l'offre : </strong></mat-list-item>
                  <mat-list-item  style="padding-bottom: 20px;"><strong style="padding-right: 10px;">Déscription de l'offre: </strong></mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </div>
          </div>
        </div>
          

      </mat-card-content>
    </mat-card> 
  </mat-tab>
                                                                                           

  <mat-tab label="Résumé"> 
    <div style="padding-top: 20px; padding-left: 20px;">
      <button mat-raised-button color="primary" (click)=" print() " style="display: block;">
        Imprimer le Cv
      </button>
      <div style="padding-top: 20px;">
        <button  mat-raised-button color="primary" (click)="downloadCV()" style="display: block;">
        Convertir en PDF
      </button>
      </div>
      
    </div>
    <!------Start CV-->
   <div id="CV">
    <mat-card class="cv-card">
      <div class="header">
        <div class="info">
          <mat-card-title>{{ employee.firstName }} {{ employee.lastName }}</mat-card-title>
          <mat-card-subtitle>Frontend Developer</mat-card-subtitle>
        </div>
      </div>
      <div style="margin-top: 20px;"></div>
    <div class="border-top"></div>
      <div class="main-content">
        <div class="right-content">
          <div class="border-right" style="margin-right: 5cm;">
    
          </div>
        </div>
        <div class="left-content">
          <div class="column">
          <h3 class="section-title">Summary</h3>
          <p class="summary-text">
            A frontend developer with experience in Angular, React, and Vue.js. Skilled in responsive web design and user interface development.
          </p>
          <h3 class="section-title">Skills</h3>
          <ul class="skills-list">
            <li>Angular</li>
            <li>React</li>
            <li>Vue.js</li>
            <li>Responsive web design</li>
            <li>User interface development</li>
            <li>HTML/CSS</li>
            <li>JavaScript</li>
          </ul>
        </div>
        <div class="column">
          <h3 class="section-title">Experience</h3>
          <div class="experience-item">
            <h4 class="experience-title">ABC Company</h4>
            <p class="experience-period">Frontend Developer, Jan 2020 - Present</p>
            <ul class="experience-duties">
              <li>Developed and maintained the company's Angular-based web application.</li>
              <li>Implemented new features and resolved bugs.</li>
              <li>Collaborated with designers and backend developers to ensure seamless integration of frontend and backend components.</li>
            </ul>
          </div>
          <div class="experience-item">
            <h4 class="experience-title">XYZ Agency</h4>
            <p class="experience-period">Web Developer, Oct 2018 - Dec 2019</p>
            <ul class="experience-duties">
              <li>Developed and maintained several React-based web applications for clients.</li>
              <li>Managed project timelines and worked with clients to ensure their requirements were met.</li>
              <li>Provided technical support to clients and resolved issues as they arose.</li>
            </ul>
          </div>
          <h3 class="section-title">Education</h3>
          <div class="education-item">
            <mat-list *ngFor="let educations of education">
              <mat-list-item><strong style="padding-right: 10px;">Diplome : </strong>{{educations?.diploma}}</mat-list-item>
              <mat-list-item> <strong style="padding-right: 10px;">Institution : </strong>{{educations?.institution}}</mat-list-item>
              <mat-list-item> <strong style="padding-right: 10px;">Date d'inscription : </strong> {{educations?.startYear}}</mat-list-item>
              <mat-list-item> <strong style="padding-right: 10px;">Date d'obtention : </strong>{{educations?.obtainedDate}}</mat-list-item>
              <mat-list-item> <strong style="padding-right: 10px;">Score : </strong>{{educations?.score}}</mat-list-item>
              <mat-list-item> <strong style="padding-right: 10px;" >Actuellement inscri : </strong>{{educations?.actual}}</mat-list-item>
            </mat-list>
          </div>
        </div>
        </div>
        
      
      </div>
    </mat-card>
  </div>
  </mat-tab>
</mat-tab-group>




