<mat-accordion multi="false">
  <!---------Education-------->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon color="primary">contact_phone</mat-icon>
        <h6 class="text-18 mb-4"> Education <strong>{{employee.firstName}} {{employee.lastName}}</strong></h6>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-icon-button color="primary" type="button" (click)="openPopUpEducation({},true)">
      <mat-icon>add</mat-icon>
    </button>
    <mat-table [dataSource]="dataSourceEducation" matSort >
      <ng-container matColumnDef="diploma">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Diplome </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="diploma"> {{row.diploma}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="institution">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Institution </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="institution"> {{row.institution}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button mat-button color="primary" class="mr-16" (click)="openPopUpEducation(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button mat-button color="warn" (click)="deleteEducation(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumnsEducation"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsEducation;"></mat-row>
    </mat-table>
  </mat-expansion-panel>
  <!---------Experience------->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon color="primary">contact_phone</mat-icon>
        <h6 class="text-18 mb-4"> Experience <strong>{{employee.firstName}} {{employee.lastName}}</strong></h6>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-icon-button color="primary" type="button" (click)="openPopUpExperience({},true)">
      <mat-icon>add</mat-icon>
    </button>
    <mat-table [dataSource]="dataSourceExperience" matSort >
      <ng-container matColumnDef="experienceCompany">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Société </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="experienceCompany"> {{row.experienceCompany}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="experiencePost">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Intitulé du poste </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="experiencePost"> {{row.experiencePost}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="technology">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Technologie </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="technology"> {{row.technology}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button mat-button color="primary" class="mr-16" (click)="openPopUpExperience(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button mat-button color="warn" (click)="deleteExperience(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumnsExperience"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsExperience;"></mat-row>
    </mat-table>
  </mat-expansion-panel>
  <!-------Certification------>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon color="primary">contact_phone</mat-icon>
        <h6 class="text-18 mb-4"> Certifications <strong>{{employee.firstName}} {{employee.lastName}}</strong></h6>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-icon-button color="primary" type="button" (click)="openPopUpCertification({},true)">
      <mat-icon>add</mat-icon>
    </button>
    <mat-table [dataSource]="dataSourceCertification" matSort >
      <ng-container matColumnDef="certificationTitle">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Titre de la certification </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="certificationTitle"> {{row.certificationTitle}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="certificationObtainedDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Date d'obtention </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="certificationObtainedDate"> {{row.certificationObtainedDate}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button mat-button color="primary" class="mr-16" (click)="openPopUpCertification(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button mat-button color="warn" (click)="deleteCertification(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumnsCertification"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsCertification;"></mat-row>
    </mat-table>
  </mat-expansion-panel>
  <!---------Language----------->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon color="primary">contact_phone</mat-icon>
        <h6 class="text-18 mb-4"> Language <strong>{{employee.firstName}} {{employee.lastName}}</strong></h6>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-icon-button color="primary" type="button" (click)="openPopUpLanguage({},true)">
      <mat-icon>add</mat-icon>
    </button>
    <mat-table [dataSource]="dataSourceLanguage" matSort >
      <ng-container matColumnDef="language">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Language </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="language"> {{row.language}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="languageLevel">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Niveau </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="languageLevel"> {{row.languageLevel}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button mat-button color="primary" class="mr-16" (click)="openPopUpLanguage(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button mat-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumnsLanguage"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsLanguage;"></mat-row>
    </mat-table>
  </mat-expansion-panel>
  <!-----------Skills---------->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon color="primary">contact_phone</mat-icon>
        <h6 class="text-18 mb-4"> Language <strong>{{employee.firstName}} {{employee.lastName}}</strong></h6>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-icon-button color="primary" type="button" (click)="openPopUpSkills({},true)">
      <mat-icon>add</mat-icon>
    </button>
    <mat-table [dataSource]="dataSourceSkills" matSort >
      <ng-container matColumnDef="skillsTitle">
        <mat-header-cell *matHeaderCellDef mat-sort-header> titre </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="skillsTitle"> {{row.skillsTitle}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button mat-button color="primary" class="mr-16" (click)="openPopUpSkills(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button mat-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumnsSkills"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsSkills"></mat-row>
    </mat-table>
  </mat-expansion-panel>
</mat-accordion>
