<mat-grid-list cols="2" rowHeight="100px">
  <mat-grid-tile>
    <div class="pb-16">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Prénom</mat-label>
          <input
          matInput
          name="first-name"
          formControlName="firstName"
          placeholder="Ex.Emmanuel"
          value=""
          required>
      </mat-form-field>
      <small 
      *ngIf="basicForm.controls['username'].hasError('minlength') && basicForm.controls['username'].touched" 
      class="form-error-msg"> Le prénom nécessite au moins {{basicForm.controls['username'].errors.minlength.requiredLength}} caractères </small>
      <small 
      *ngIf="basicForm.controls['username'].hasError('maxlength') && basicForm.controls['username'].touched" 
      class="form-error-msg"> Le prénom ne peut pas contenir plus de  {{basicForm.controls['username'].errors.maxlength.requiredLength}} caractères </small>
    </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <!--last name-->
      <div class="pb-16">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nom</mat-label>
            <input
            matInput
            name="last-name"
            formControlName="lastName"
            placeholder="Ex.Macron"
            value=""
            required>
        </mat-form-field>
        <small 
        *ngIf="basicForm.controls['username'].hasError('minlength') && basicForm.controls['username'].touched" 
        class="form-error-msg"> Le nom nécessite au moins {{basicForm.controls['username'].errors.minlength.requiredLength}} caractères </small>
        <small 
        *ngIf="basicForm.controls['username'].hasError('maxlength') && basicForm.controls['username'].touched" 
        class="form-error-msg"> Le nom ne peut pas contenir plus de  {{basicForm.controls['username'].errors.maxlength.requiredLength}} caractères </small>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>

    </mat-grid-tile>

    <mat-grid-tile>
      
    </mat-grid-tile>

    <mat-grid-tile>
      
    </mat-grid-tile>

    <mat-grid-tile>
      
    </mat-grid-tile>

    <mat-grid-tile>
      
    </mat-grid-tile>

    <mat-grid-tile>
      
    </mat-grid-tile>

    <mat-grid-tile>
      
    </mat-grid-tile>

    <mat-grid-tile>
      
    </mat-grid-tile>

    <mat-grid-tile>
      
    </mat-grid-tile>

    <mat-grid-tile>
      
    </mat-grid-tile>

    <mat-grid-tile>
      
    </mat-grid-tile>

    <mat-grid-tile>
      
    </mat-grid-tile>
</mat-grid-list>