<mat-card class="p-0">
  
  <mat-tab-group mat-stretch-tabs>
     
      <mat-tab>
       
        <ng-template mat-tab-label>
          <mat-icon style="color: #0077C2;">account_circle</mat-icon>
          <span class="tab-label" style="color: #0077C2;">Informations générales</span>
        </ng-template>
        <mat-card-content class="mt-16">
          <form>
            <div fxLayout="row wrap" fxLayout.lt-sm="column">
          <div fxFlex="50"  class="pr-16">
            <mat-form-field class="full-width">
              <input
              matInput
              name="name"
              [formControlName]="'name'"
              placeholder="Name">
            </mat-form-field>
          </div>
          <div fxFlex="50"  class="pr-16">
            <mat-form-field class="full-width">
              <input
              matInput
              name="staffNumber"
              type="number"
              [formControlName]="'staffNumber'"
              placeholder="staffNumber">
            </mat-form-field>
          </div>
          <div fxFlex="50"  class="pr-16">
            <mat-form-field class="full-width">
              <input
              matInput
              name="parentCompany"
              [formControlName]="'parentCompany'"
              placeholder="parentCompany">
            </mat-form-field>
          </div>
          <div fxFlex="50"  class="pr-16">
            <mat-form-field class="full-width">
              <input
              matInput
              name="ceoName"
              [formControlName]="'ceoName'"
              placeholder="ceoName">
            </mat-form-field>
          </div>
          
          <div fxFlex="50"  class="pr-16">
            <mat-form-field class="full-width">
              <input
              matInput
              name="description"
              type="text"
              [formControlName]="'description'"
              placeholder="description">
            </mat-form-field>
          </div>
          <div fxFlex="50"  class="pr-16">

            <mat-form-field class="full-width">
              <mat-label>WorkField</mat-label>
              <mat-select  [formControlName]="'workField'">
                <mat-option *ngFor="let x of WorkField" [value]="x">{{ x }}</mat-option>

              </mat-select>
            </mat-form-field>
            </div>
            <div fxFlex="50"  class="pr-16">
              <mat-form-field class="full-width">
                <input
                  formControlName="activityStartDate"
                  matInput
                  [matDatepicker]="picker"
                  placeholder="activity Start Date"
                  required
                />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div fxFlex="50"  class="pr-16">
              <mat-form-field class="full-width">
                <input
                  formControlName="partnerShipDate"
                  matInput
                  [matDatepicker]="picker2"
                  placeholder="partner Ship Date"
                  required
                />
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
              
            </div>
            <div fxFlex="100" class="mt-16">
              <button mat-raised-button color="primary" (click)="submit()">{{"SAVE" | translate }}</button>
              <span fxFlex></span></div>
      
     </div>
    </form>
        </mat-card-content>
     
      </mat-tab>
      
   
    </mat-tab-group>
  
</mat-card>